* {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

header {
        padding: 30px 20%;
        justify-content: center;
        align-items: center;
        background-color: #1F2937;
        color: #F9FAF8;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
}

section {
    background-color: #3d5474;
    padding: 5% 20% 5%;
}

.grid {
    width: 75%;
    aspect-ratio: 1;
    outline: 2px solid black; 
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-item {
    flex: auto;  
}

.grid .square {
    background-color: white;
    aspect-ratio: 1;
}

.panel {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: #F9FAF8;
    font-size: 16px;
}

.input {
    gap: 5%;
}

.input .flex-item{
    flex: 0 1 20%;
    background-color: whitesmoke;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
}

#confirm-button {
    background-color: #1F2937;
    color: #F9FAF8;
    border-color: #1F2937;
}

footer {
    padding: 50px;
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    align-items: center;
}

footer p {
    margin: 0px;
}